affine==2.2.1
attrs==18.2.0
boto3==1.9.61
botocore==1.12.61
certifi==2022.12.7
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.6.1
cycler==0.10.0
dask==2021.10.0
decorator==4.3.0
docutils==0.14
idna==2.7
jmespath==0.9.3
kiwisolver==1.0.1
lightgbm==2.2.2
matplotlib==3.0.2
networkx==2.2
numpy==1.22.0
Pillow==10.3.0
pyparsing==2.3.0
pyproj==1.9.5.1
python-dateutil==2.7.5
PyWavelets==1.0.1
rasterio==1.0.11
requests==2.31.0
s2cloudless==1.2.2
s3transfer==0.1.13
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==1.11.1
sentinelhub==2.4.6
Shapely==1.6.4.post2
six==1.11.0
snuggs==1.4.2
tifffile==2018.11.28
toolz==0.9.0
torch==0.4.1
urllib3==1.26.18
utm==0.4.2
